<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>侨创代理事业部ERP系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">

</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="{:url('index/index/index')}" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item" lay-unselect>
                    <a id="message" lay-text="消息中心" style="cursor:pointer;">
                        <i class="layui-icon layui-icon-notice"></i>

                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>管理员</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a id="loginhistory" style="cursor:pointer;">登入记录</a></dd>
                        <dd><a id="modify" style="cursor:pointer;">修改密码</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a id="goout" style="cursor:pointer;">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>

                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>

            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="{:url('index/welcome')}">
                    <span><img src="../../public/static/common/img/logo.png"></span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <!-- 正式导航 -->
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="系统信息" lay-direction="2">
                            <i class="layui-icon layui-icon-console"></i>
                            <cite>系统信息</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-href="{:url('system/index')}">系统信息</a></dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="员工管理" lay-direction="2">
                            <i class="layui-icon layui-icon-user"></i>
                            <cite>员工管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-href="{:url('user/index')}">员工列表</a></dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-href="{:url('user/add')}">新增员工</a></dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="项目管理" lay-direction="2">
                            <i class="layui-icon layui-icon-component"></i>
                            <cite>项目操作</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-href="{:url('xiangmu/index')}">项目操作</a></dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="系统设置" lay-direction="2">
                            <i class="layui-icon layui-icon-set"></i>
                            <cite>系统设置</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-href="{:url('system/index')}">系统信息</a></dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-href="{:url('system/version')}">版本设置</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="{:url('index/welcome')}" frameborder="0" class="layadmin-iframe" id="pptFrame" scrolling="no"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="__LAYUI__/layui/layui.js"></script>
<script src="__PUBLIC__/js/jquery.min.js" charset="utf-8"></script>
<script>
    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    //解决ios端iframe不能自适应的问题
    var ua = navigator.userAgent.toLowerCase();
    var screenwidth = window.screen.width;
    if(!/iphone|ipad|ipod/.test(ua)){
        //alert("此处不是IOS设备");
        $("#pptFrame").attr("scrolling","auto");
    }else{
        $('#pptFrame').width(screenwidth + 'px');
    }

    var modify = document.getElementById("modify");
    modify.onclick =function() {
        layui.use('layer', function () {
            var layer = layui.layer;
            //弹出层方法
            layer.open({
                type: 0 //Page层类型
                , title: '修改管理员密码'
                , content: '<div style="width: 300px">' +
                '<blockquote class="layui-elem-quote">' +
                '<p>如遗忘原密码，请联系管理员。修改密码后务必牢记！</p>' +
                '</blockquote>' +
                '<form id="subform">' +
                '<input type="text" name="old_password" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">' +
                '</br>' +
                '<input type="password" name="password" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">' +
                '</br>' +
                '<input type="password" name="re_password" required lay-verify="required" placeholder="请重复新密码" autocomplete="off" class="layui-input">' +
                '</form>' +
                '</div>',
                btn: ['确定', '取消'],
                btnAlign: 'c',
                yes: function (index, layero) {
                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",//方法类型
                        dataType: "json",//预期服务器返回的数据类型
                        url: "{:url('index/index/modify')}" ,//url
                        data: $('#subform').serialize(),
                        success: function (result) {
                            //console.log(result);//打印服务端返回的数据(调试用)
                            if(result.msg=="密码修改成功") {
                                layer.msg(result.msg,{icon:1,time:1000,end:function(){
                                        location.href="{:url('../index/login')}";
                                    }
                                });
                            }else{
                                layer.msg(result.msg,{icon:2,time:3000});
                            }
                        },
                        error : function() {
                            alert("操作出现异常！");
                        }
                    });
                },
            });
        });
    };

    var loginhistory = document.getElementById("loginhistory");
    loginhistory.onclick =function(){
        layui.use('layer', function(){
            var layer = layui.layer;
            //弹出层方法
            layer.open({
                type: 0
                ,title: '登入历史记录'
                ,content: '<div style="width: 300px">' +
                '<p>上次登录情况</p>' +
                '<blockquote class="layui-elem-quote">' +
                '<p>IP：{$loginhistory[1]["u_ip"]}</p>' +
                '<p>城市：{$loginhistory[1]["u_city"]}</p>' +
                '<p>运营商：{$loginhistory[1]["u_isp"]}</p>' +
                '<p>客户端：{$loginhistory[1]["u_os"]} | {$loginhistory[1]["u_browser"]} | {$loginhistory[1]["u_lang"]}</p>' +
                '<p>登录时间：{$loginhistory[1]["u_time"]}</p>' +
                '</blockquote>' +
                '<hr>' +
                '<p>本次登录情况</p>' +
                '<blockquote class="layui-elem-quote">' +
                '<p>IP：{$loginhistory[0]["u_ip"]}</p>' +
                '<p>城市：{$loginhistory[0]["u_city"]}</p>' +
                '<p>运营商：{$loginhistory[0]["u_isp"]}</p>' +
                '<p>客户端：{$loginhistory[0]["u_os"]} | {$loginhistory[0]["u_browser"]} | {$loginhistory[0]["u_lang"]}</p>' +
                '<p>登录时间：{$loginhistory[0]["u_time"]}</p>' +
                '</blockquote>'
                ,btn: ['关闭']
                ,btnAlign: 'c',
            });
        });
    };

    var message = document.getElementById("message");
    message.onclick =function(){
        layui.use('layer', function(){
            var layer = layui.layer;
            //弹出层方法
            layer.open({
                type: 0
                ,title: '系统公告'
                ,content: "欢迎使用营销ERP系统！"
                ,btn: ['确定']
                ,btnAlign: 'c',
            });
        });
    };

    //退出登录
    $('#goout').on('click',function () {
        $.get("{:url('login/goout')}", function (data) {
            if (data == 1) {
                layer.msg('退出成功',{
                        icon: 1,
                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    },function(){
                        location.href = "{:url('../index/login')}";
                    }
                );
            } else {
                layer.msg('退出失败！');
            }
        })
    });
</script>
</body>
</html>