<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>员工列表 - 侨创代理事业部ERP系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="__LAYUI__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/style/admin.css" media="all">
</head>
<body id="iosiframe">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <table  id="test-table-page" lay-filter="test"></table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
<script src="__LAYUI__/layui/layui.js"></script>
<script src="__PUBLIC__/js/jquery.min.js" charset="utf-8"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    //解决ios端iframe不能自适应的问题
    var ua = navigator.userAgent.toLowerCase();
    var screenwidth = window.screen.width;
    if(!/iphone|ipad|ipod/.test(ua)){
        $("#iosiframe").attr("scrolling","auto");
    }else{
        $('#iosiframe').width(screenwidth + 'px');
    }

    layui.config({
        base: '__LAYUI__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table','layer'], function(){
        var admin = layui.admin
            ,table = layui.table;

        table.render({
            elem: '#test-table-page'
            ,url: "{:url('admin/user/getlist')}"
            ,cols: [[
                //{field:'Id', width:50, title: 'ID'},不显示id
                {field:'xuhao', width:50, title: '序号',type:'numbers',fixed:true}
                ,{field:'realname', width:75, title: '姓名'}
                ,{field:'number', width:83, title: '工号'}
                ,{field:'username', width:100, title: '用户名'}
                ,{field:'sex', width:58, title: '性别'}
                ,{field:'phone', width:120, title: '联系电话'}
                ,{field:'xiangmu', width:100, title: '所属项目'}
                ,{field:'group', width:88, title: '职位'}
                ,{field:'status', width:60, title: '状态'}
                ,{field:'last_login_time', width:120, title: '最后登录',sort: true}
                ,{field:'last_edit_time', width:120, title: '最后编辑',sort: true}
                ,{field:'login_count', width:88, title: '登录次数'}
                ,{field:'note', width:100, title: '备注'}
                ,{width:160, title: '操作', toolbar: '#barDemo'}
            ]]
            ,loading: true
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next', 'skip', 'limit', 'count'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,limit:10 //一页显示多少条
                ,limits:[10,20,30,40,50,60,70,80,90,100]//每页条数的选择项
                ,groups: 5 //只显示 5 个连续页码
                //,first: "首页" //显示首页
                //,last: "尾页" //显示尾页
            }

        });

        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'detail'){ //查看
                var index =layer.open({
                    type: 2
                    , title: '员工详情查看'
                    , content: "{:url('admin/user/view')}?id=" + data.Id
                })
                layer.full(index);
                } else if(layEvent === 'del'){ //删除
                layer.confirm('删除用户后将无法恢复，请谨慎！', {icon: 3, title:'提示'}, function(index) {
                    layer.confirm('真的要删除此用户吗？', {icon: 3, title: '提示'}, function (index) {
                        //向服务端发送删除指令
                        $.ajax({
                            url: "{:url('admin/user/del')}",
                            type: "POST",
                            data:{"id":data.Id},
                            dataType: "json",
                            success: function(data){
                                if(data.code==200){
                                    obj.del();//删除对应行（tr）的DOM结构，并更新缓存
                                    //layer.close(index);//关闭弹框
                                    layer.msg("用户删除成功", {icon: 6});
                                }else{
                                    layer.msg("用户删除失败", {icon: 5});
                                }
                            }
                        });
                    });
                })
            } else if(layEvent === 'edit'){ //编辑
                var index =layer.open({
                    type: 2
                    , title: '用户信息编辑'
                    , content: "{:url('admin/user/edit')}?id=" + data.Id
                    , btn: ['修改', '取消']
                    , btnAlign: 'c'
                    , yes: function (index, layero) {
                        var iframes = $(layero).find("iframe")[0].contentWindow;
                        var form = iframes.document.getElementById("reForm");
                        var editdata = $(form).serialize() + "&id=" + data.Id;
                        $.ajax({
                            //几个参数需要注意一下
                            type: "POST",//方法类型
                            dataType: "json",//预期服务器返回的数据类型
                            url: "{:url('admin/user/editdo')}",//url
                            data: editdata,
                            success: function (result) {
                                console.log(result);//打印服务端返回的数据(调试用)
                                if (result == "200") {
                                    layer.close(index);
                                    layer.msg("用户信息修改成功", {icon: 1, time: 1000,end:function () {
                                            $(".layui-laypage-btn")[0].click();
                                        }
                                    });
                                } else {
                                    layer.msg(result.msg, {icon: 2, time: 1000});
                                }
                            },
                            error: function () {
                                layer.msg("操作出现异常，请联系管理员", {icon: 7, time: 3000});
                            }
                        });
                    },
                });
                layer.full(index);
            }
        });
    });


</script>

</html>